.idea/
/exp
/exp-*
/tmp
/dataset
/imagenet_model
__pycache__/
*.pyc
*.pth
.DS_Store
._*
/bin
/Market-1501-v15.09.15
/Market-1501-v15.09.15_ps_label
/cuhk03-np-jpg
/cuhk03-np-jpg_ps_label
/cuhk03-np-jpg_ps_label-*
/DukeMTMC-reID
/DukeMTMC-reID_ps_label
/msmt17
